<div id="main">
    <div class="inner">
        <form action="/blogs/add" method="post">
            <div class="row">
                <div class="col-6 mb-5">
                    <input type="text" name="title" placeholder="Title" />
                </div>
                <div class="col-6 mb-5">
                    <input type="text" name="subtitle" placeholder="SubTitle" />

                </div>
                <div class="col-12 mb-5">
                    <input type="text" name="image" placeholder="Image" />
                </div>
                <div class="col-12 mb-5">
                    <textarea name="text" placeholder="Text"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="button primary">Add Blog</button>
                </div>
            </div>
        </form>
    </div>
</div>